@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body {
	margin: 0px;
	font-family: 'Barlow', sans-serif;
	font-size: 10pt;
}
.cv-wrapper {
	margin: 20px;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 30px;
}
.name {
	font-family: 'Barlow', sans-serif;
	font-size: 24pt;
}
.title {
	font-family: 'Barlow', sans-serif;
	text-transform: uppercase;
	font-size: 12pt;
	padding-top: 15px;
}
.photo {
	width: 128px;
	height: 128px;
	background-color: gray;
}
.photo img {
	width: 128px;
	height: 128px;
	filter: grayscale(1);
}

.gray-rectangle {
	padding: 0px;
	margin: 0px;
	background-color: lightgrey;
	min-height: 140px;
}

.body {
	display: flex;
	justify-content: space-between;
	margin-top: -170px;
}

.left-box {
	margin-left: 40px;
	margin-right: 40px;
	padding: 15px;
	width: 200px;
	/* height: 200px; */
	border: solid 1px lightgrey;
	background-color: #fff;
}
.right-box {
	padding-top: 40px;
}
.separator {
	border-bottom: lightgrey solid 1px;
	margin: 15px;
}

/*
Education
*/
.education-item {
	padding: 5px;
}
.item-school {
	display: flex;
	flex-wrap: nowrap;
	padding: 5px 0px;
}
.item-degree {
	text-transform: uppercase;
	font-weight: 700;
}
/*
Contact
*/
.contact-item {
	margin-bottom: 5px;
}
/*
Skills
*/
.skills-item {
	margin-bottom: 5px;
}

/*
Experience
*/
.experience-meta {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.experience-position {
	font-family: 'Nunito Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
.experience-description {
	padding-bottom: 10px;
}

/*
Profile
*/
#profile {
	min-height: 150px;
}

/*
Page
*/
.page-wrapper {
	display: flex;
}

.app {
	overflow-x: scroll;
	position: fixed;
	width: 40%;
	height: 100%;
	left: 0px;
	z-index: 20;
	background-color: lightgray;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
/*
Form
*/
